/* Este es el diseño para nuestros mensajes de error */
.failure-icon,
.error {
  color: red;
}

.success-icon {
  color: green;
}

.error {
  font-size: 14.5px;
  margin-top: 5px;
}

.success-icon,
.failure-icon {
  right: 0;
  opacity: 0;
}