/*
CONTENIDO GENERAL PARA TODAS LAS PÃGINAS
DEL BODY>FOOTER
*/

.footer{
    padding-top: var(--spacer-m);
    padding-bottom: var(--spacer-m);
    font-size: var(--text-note);
    text-align: center;
    
    
    /*box-shadow: rgba(74, 74, 75, 0.3) 0px 0px 0px 3px;*/
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}  

body > div.footer > a{
    text-decoration: none;
    color: var(--link);
    margin-left: var(--spacer-m) ;
}

body > div.footer > a:hover{
    color: var(--link-hover);
}

body > div.footer > a > i{
    font-size: var(--image-m);
}